{% extends "base.html" %} {% block title %} Login {% endblock title %}
{% block content %}

<div class="is-flex is-justify-content-center is-align-items-center min-vh-100 mt-4">
  <form method="POST" class="box p-6" style="max-width: 30rem; width: 100%">
    <div class="has-text-centered mb-4">
      <h2 class="title is-3">Login</h2>
    </div>
  {% csrf_token %}
    <div class="field">
      <label for="user-name" class="label">User Name:</label>
      <div class="control">
        <input
          type="text"
          name="user-name"
          class="input is-rounded"
          placeholder="Enter User name"
        />
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password:</label>
      <div class="control">
        <input
          type="password"
          name="password"
          class="input is-rounded"
          placeholder="Enter Password"
        />
      </div>
    </div>
    <div class="field is-flex is-justify-content-center">
      <button
        class="button is-link is-rounded"
        type="submit"
        style="width: 100%; max-width: 6.5rem"
      >
        Submit
      </button>
    </div>
  </form>
</div>

{% endblock content %}